#flexContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.MainContainer {
    width: 70%;
}

.FilterContainer {
    width: 30%;
    margin-left: 1rem;
    border-left: 1px solid #eee;
    padding: 0;
    background: #fcfcfc;
}

.FilterContainer h5 {
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding: 10px 23px;
    background: #fcfcfc;
    font-weight: 700;
    margin-bottom: 10px;
}

.Level {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #F6F6F6;
}

.Level .level-item {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.Level .level-item>* {
    align-self: center;
}

.Level h5 {
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;
}

.Level h4 {
    margin-bottom: -.5rem;
}

.Level h1 {
    font-weight: 600;
}

.Level .is-confirmed h1, .Level .is-confirmed h5 {
    color: #ff073a;
}

.Level .is-confirmed h4 {
    color: rgba(255,7,58,.6);
}

.Level .is-active h1, .Level .is-active h5 {
    color: #007bff;
}

.Level .is-active h4 {
    color: rgba(0,123,255,.6);
}

.Level .is-recovered h1, .Level .is-recovered h5 {
    color: #28a745;
}

.Level .is-recovered h4 {
    color: rgba(40,167,69,.6);
}

.Level .is-deceased h1, .Level .is-deceased h5 {
    color: #6c757d;
}

.Level .is-deceased h4 {
    color: rgba(108,117,125,.6);
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
   100% {
       transform: rotate(360deg);
   }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.datepicker {
    margin: 10px 0;
    background: #fff;
    border: 1px solid #e3e3e3;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 220px;
}

#statsTable_wrapper {
    margin-left: 1rem;
}
